//<МИКСИНЫ>===================================
@import "./settings/mixins";
//</МИКСИНЫ>======================================

//ФУНКЦИИ===================================
@import "./settings/functions";
//</ФУНКЦИИ>======================================

//<ШРИФТЫ>======================================

//<Подключаем шрифты>===================
@import "./settings/fonts";
//</Подключаем шрифты>==================

//<Иконочные шрифты>======================================

//</Иконочные шрифты>=====================================

//<Шрифт по умолчанию>============================
$font-family: "Lato", sans-serif;
//</Шрифт по умолчанию>=============================

//</ШРИФТЫ>======================================

//<ПЕРЕМЕННЫЕ>============================

// Ширина макета для адаптивного шрифта (адаптация по пикселям)
$maxWidth: 1920;

// Ширина контейнера
$mw: 120;

// Длительность свойства transition
$ms: 0.3s;

//</ПЕРЕМЕННЫЕ>============================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
:root {
    --clr-default-100: #fff;
    --clr-default-200: #f2f2f2;
    --clr-default-300: #f7f7f7;
    --clr-default-400: #3a4763;
    --clr-default-500: #cdcdcd;
    --clr-default-900: #000;
    --clr-primary-200: #ebf9f1;
    --clr-primary-400: #00c066;
    --clr-primary-500: #2eab65;
    --clr-secondary-100: #008ee7;
    --clr-secondary-400: #b35252;
    --clr-secondary-500: #ff4646;
    --clr-secondary-900: #ff9a51;
    --clr-ui-border: #eef2f2;
    --clr-ui-input-border: #cdcdcd;
    --clr-ui-ip-border: #ddd;
}

@import "./settings/normalize";

body {
    font-family: $font-family;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--clr-default-400);

    &.lock {
        overflow: hidden;

        &--wrapper {
            .wrapper::before {
                opacity: 1;
                visibility: visible;
                transition: opacity $ms, visibility $ms;
            }
        }
    }
}
button:focus {
    outline: none;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    min-width: 320px;
    min-height: 100%;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity $ms, visibility $ms;
    }
}

main {
    flex-grow: 1;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: $mw + rem;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================
// Подключение общих элементов
@import "./components/ui/choices.scss";
@import "ui";
// Подключение общих элементов

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "./components/ui/header.scss";
@import "./components/ui/modal.scss";

@import "./components/indexPage/hero.scss";
@import "./components/indexPage/profile.scss";
@import "./components/indexPage/current.scss";

@import "./components/ui/footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
